body {
  background-color: lightgray;
}

header {
background-color: darkgrey;
height: 50px;
}

table * {
  font-family: 'Times New Roman', Times, serif;
  background-color: whitesmoke;
  border: 2px dashed black;
  padding: 10px;
}